body {background-color:black; font-family:arial;color:white}
h1{color:grey;}

.maindiv{
    background-color:white;
    color:black;
    width:450px;
    border-radius:25px;
    padding:20px;
    align-content:center;
    

}


